# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build output
dist/
build/
out/

# Logs
logs/
*.log

# Coverage
coverage/

# Dependency directories
bower_components/
jspm_packages/

# Misc
*.sublime-workspace
*.sublime-project
.idea/
*.swp
*.swo

#outros
*.exe